blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0;
}

body {
	background-color: #dedede;
	font-family: "微软雅黑";
	line-height: 2em;
}

a {
	text-decoration: none; 
}

h3 {
	color: gray;
}

/*header --begain--*/
header {
	height: 60px;
	width: 100%;
	background-color: #333;
	position: relative;
}

header img {
	height: 120%;
	width: auto;
	margin-left: 50px;
	margin-top: -15px;
}
header ul {
	position: absolute;
	right: -5px;
	top: 40%;
	text-decoration: none;
}

header li {
	float: left;
	list-style: disc;
}

header a {
	font-size: 12px;
	margin-right: 25px;
	color: #fff;
 }

/* header a:visited {
 	color: gray;
 }*/
/*header --end--*/

#p1 {
	margin: 20px;
	background: #fff;
	padding: 38px 20px;
}

.author, .time {
	font-size: 13px;
	color: gray;
}

.text-indent {
	text-indent: 2em;
}

/*section-p1 --end-- */

/*section-p2 --begin-- */
#p2 {
	margin: 0 20px;
	background: #fff;
	padding: 38px 20px;
}

#p2 ul {
	list-style: none;
	padding-left: 30px;
}
/*section-p2 --end-- */


/*section-p3 --begin-- */
#p3 {
	margin: 20px;
	padding: 28px 20px;
	background: #fff;
}

#p3 h1 {
	margin-bottom: 20px;
}

#p3 div {
	width: 126px;
	height: auto;
	text-align: center;
	border: 1px solid gray;
	margin-bottom: 20px;
	margin-left: 40px;
}

#p3 img {
	width: 80%;
	height: auto;
}

#p3 span {
	font-size: 13px;
}
/*section-p3 --end-- */